Repository apache/fory, pull requests merged in 2023-07, with the labels that each got.

#633 [JavaScript] reduce generated code size
  javascript/benchmark/draw.py
  javascript/packages/fury/lib/classResolver.ts
  javascript/packages/fury/lib/codeGen.ts
  javascript/packages/fury/lib/fury.ts
  javascript/packages/fury/lib/internalSerializer/array.ts
  javascript/packages/fury/lib/internalSerializer/binary.ts
  javascript/packages/fury/lib/internalSerializer/bool.ts
  javascript/packages/fury/lib/internalSerializer/datetime.ts
  javascript/packages/fury/lib/internalSerializer/map.ts
  javascript/packages/fury/lib/internalSerializer/number.ts
  javascript/packages/fury/lib/internalSerializer/set.ts
  javascript/packages/fury/lib/internalSerializer/string.ts
  javascript/packages/fury/lib/type.ts
  javascript/test/array.test.ts
Labels: javascript

#672 [Doc] support front matter
  .github/workflows/sync.yml
  docs/guide/java_object_graph_guide.md
  docs/guide/row_format_guide.md
  docs/guide/xlang_object_graph_guide.md
Labels: documentation

#718 [Rust] rust lang initial version
  .github/workflows/ci.yml
  ci/run_ci.sh
  rust/Cargo.toml
  rust/fury/Cargo.toml
  rust/fury/src/buffer.rs
  rust/fury/src/de.rs
  rust/fury/src/error.rs
  rust/fury/src/lib.rs
  rust/fury/src/ser.rs
  rust/fury/src/ty.rs
  rust/fury/tests/de.rs
  rust/fury_derive/Cargo.toml
  rust/fury_derive/src/lib.rs
  rust/test_suite/Cargo.toml
  rust/test_suite/tests/test_complex_struct.rs
Labels: rust

#738 [ Rust ] Make the protocols of rust and js consistent
  rust/fury/src/buffer.rs
  rust/fury/src/deserializer.rs
  rust/fury/src/error.rs
  rust/fury/src/lib.rs
  rust/fury/src/serializer.rs
  rust/fury/src/types.rs
  rust/fury_derive/src/lib.rs
  rust/test_suite/tests/test_complex_struct.rs
Labels: javascript, rust

#739 [JavaScript] Make the protocols of rust and js consistent
  ci/format.sh
  javascript/.eslintrc.cjs
  javascript/packages/fury/lib/codeGen.ts
  javascript/packages/fury/lib/internalSerializer/array.ts
  javascript/packages/fury/lib/internalSerializer/map.ts
  javascript/packages/fury/lib/internalSerializer/set.ts
  javascript/packages/fury/lib/internalSerializer/string.ts
  javascript/packages/fury/lib/io.ts
  javascript/packages/fury/lib/type.ts
  javascript/packages/fury/lib/util.ts
  javascript/packages/fury/package.json
  javascript/test/protocol.test.ts
Labels: javascript
